@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.articlenote {
    background-color: transparent;
    border-bottom-color: #8B889A;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: #8B889A;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-before: always
    }
.authornames {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-size: 1em;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.biography {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%
    }
.biographyfigure {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    float: right;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.blockquote {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.bookauthors {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.booksubtitle {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    color: #3d3b49;
    display: block;
    font-family: "Noto Serif", serif;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    word-wrap: break-word
    }
.booktitle {
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    color: #3d3b49;
    display: block;
    font-family: "Noto Serif", serif;
    font-size: 1.83333em;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    word-wrap: break-word
    }
.booktitle1 {
    font-style: italic;
    text-align: left
    }
.calibre {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1em
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre2 {
    display: block;
    font-family: Noto Serif, serif;
    margin-bottom: 80px
    }
.calibre3 {
    display: block
    }
.calibre4 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre5 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: auto;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    vertical-align: middle;
    width: auto
    }
.calibre6 {
    color: #d3002d;
    font-family: "Noto serif", serif;
    font-size: 1em;
    text-decoration: underline
    }
.calibre7 {
    font-size: 0.75em;
    font-weight: 600;
    left: 0;
    line-height: 1.2;
    position: relative;
    top: 0;
    vertical-align: baseline
    }
.calibre8 {
    color: #d3002d;
    font-family: "Noto serif", serif;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: underline
    }
.calibre9 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    display: list-item;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.calibre10 {
    font-size: 0.75em;
    font-weight: 600;
    left: 0;
    line-height: 1.2;
    position: relative;
    top: -0.5em;
    vertical-align: baseline
    }
.calibre11 {
    line-height: 1.2
    }
.calibre12 {
    background-color: #fff;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-collapse: collapse;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-spacing: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    overflow: auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.calibre13 {
    display: table-column-group
    }
.calibre14 {
    background: #bbb;
    background-color: #EEF2F6;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    color: #000;
    display: table-header-group;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.75;
    padding-bottom: 0.875em;
    padding-left: 0.875em;
    padding-right: 0.875em;
    padding-top: 0.875em;
    vertical-align: middle
    }
.calibre15 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: table-row;
    vertical-align: inherit
    }
.calibre16 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: table-cell;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.875em;
    padding-left: 0.875em;
    padding-right: 0.875em;
    padding-top: 0.875em;
    text-align: left;
    vertical-align: middle
    }
.calibre17 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre18 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: table-cell;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-wrap: break-word;
    padding-bottom: 0.875em;
    padding-left: 0.875em;
    padding-right: 0.875em;
    padding-top: 0.875em;
    text-align: left;
    vertical-align: inherit;
    word-wrap: break-word
    }
.calibre19 {
    background-color: #EEF2F6;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    display: table-row;
    vertical-align: inherit
    }
.calibre20 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre21 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre22 {
    display: list-item
    }
.caption {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: block;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.captioncontent {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-size: 0.83333em;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.captionnumber {
    font-style: italic;
    font-weight: bold;
    padding-right: 0.6em
    }
.chaptercontextinformation {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.clearboth {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    clear: both;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.clearboth1 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    clear: both;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-size: 2.4em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.contacticon {
    background-image: url(images/000096.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    line-height: 1.2;
    width: 0.8rem
    }
.contextinformation {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-size: 0.83333em;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.copyrightpage {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    border-top-color: #bbb;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-before: always
    }
.copyrightpageelectronicisbn {
    padding-left: 1.5em
    }
.copyrightpageprintisbn {
    display: inline-block;
    min-width: 12em
    }
.emphasisfontcategorynonproportional {
    font-family: "Courier New", Courier, monospace;
    font-size: 1em
    }
.emphasistypebold {
    font-style: normal;
    font-weight: bold
    }
.emphasistypeitalic {
    font-style: italic
    }
.emphasistypeitalic1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    font-style: italic
    }
.figure {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 32px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.figure1 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: block;
    line-height: 1.5rem;
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 32px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.fixedline {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Consolas", Courier, monospace;
    font-size: 1em;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    word-wrap: break-word
    }
.footnote {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: #8B889A;
    border-top-style: solid;
    border-top-width: 1px;
    clear: both;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-size: 0.83333em;
    line-height: 1.5rem;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.footnotenumber {
    float: left;
    padding-right: 0.5em
    }
.footnotesection {
    background-color: transparent;
    border-bottom-color: #8B889A;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: #8B889A;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.formalpara {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background: #bbb;
    background-color: inherit;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.heading {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.heading1 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: inline;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.heading2 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    color: #3d3b49;
    display: block;
    font-family: "Noto Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    word-wrap: break-word
    }
.index {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.indexentryseelabel {
    font-style: italic;
    margin-left: 1em;
    padding-right: 0.3em
    }
.itemcontent {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: table-cell;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.itemnumber {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: table-cell;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: top
    }
.listitem {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    display: table-row;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.maintitlesection {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.mediaobject {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.orderedlist {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: table;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.para {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.para1 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.para2 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.para3 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.para4 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    border-top-color: #bbb;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.para5 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.para6 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: inline;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.para7 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    border-top-color: #bbb;
    border-top-style: solid;
    border-top-width: 1px;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.para8 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.para9 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.para10 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.para11 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.para12 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0
    }
.prefacetitle {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: left
    }
.programcode {
    -webkit-hyphens: none;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: #EEF2F6;
    color: #3D3B49;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5rem;
    overflow-y: hidden;
    padding-bottom: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.75em;
    white-space: pre
    }
.section {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: block;
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.simplepara {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.simplepara1 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: inline;
    font-family: "Noto serif", serif;
    font-size: 0.75em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.125;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    text-align: left;
    text-indent: unset
    }
.simplepara2 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-wrap: break-word;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset;
    word-wrap: break-word
    }
.simplepara3 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 0.75em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.125;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5em;
    text-align: left;
    text-indent: unset
    }
.table {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.tcol {
    display: table-column
    }
.textobject {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: none;
    font-family: "Cambria", "Minion Pro", "Times New Roman", "Times", serif;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.tocitem {
    font-weight: bold
    }
.tocpagenumber {
    display: none
    }
.unorderedlistmarknone {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    display: block;
    line-height: 1.5rem;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 24px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.pcalibre:link {
    color: #d3002d;
    font-family: "Noto serif", serif;
    font-size: inherit;
    text-decoration: underline
    }
.pcalibre2:visited {
    color: #d3002d;
    font-family: "Noto serif", serif;
    font-size: inherit;
    text-decoration: underline
    }
.pcalibre3:focus {
    color: #9f0027;
    font-size: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid
    }
.pcalibre5:after {
    content: ", "
    }
.pcalibre4:hover {
    color: #9f0027;
    font-size: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid
    }
.pcalibre1:active {
    color: #0176C3
    }
.pcalibre6:active {
    color: #014E80
    }

